.card{
    width: 350px;
    height: 350px;
    margin: 0% 2% 2% 6%;
    transition: transform .2s;
}

.card:hover{    
    box-shadow: 10px 10px #4169E1;
    transform: scale(1.05);
}

.card-title, .card-text{
    border: 2px solid black;
    padding: 1%;
    border-radius: 5%;
}

.font_awesome{
    margin-left: 80%;
    padding-bottom: 3%;
}

.card-title{
    font-family: 'Cormorant Upright';
    font-size: 30px;
    font-weight: bold;
}

.card-text{
    font-family: 'Cormorant Upright';
    font-size: 23px;
    font-weight: bold; 
}