.card{
    width: 350px;
    height: 350px;
    margin: 0% 2% 2% 6%;
    box-shadow: 10px 10px #4169E1;
}

.card-title, .card-text{
    border: 2px solid black;
    padding: 1%;
    border-radius: 5%;
}

.font_awesome{
    margin-left: 80%;
    padding-bottom: 3%;
}

.card-body{
    border-top: 8px solid #6A5ACD;
}